<launch>

  <node pkg="etsi_visualization" type="ETSIViz" name="ETSIViz" output="screen">
    <param name="SPAT_Topic_Name" value="ika_acdc_22/TopicSPATs" /> <!-- fill in here your choosen topic name -->
    <param name="MAP_Topic_Name" value="ika_acdc_22/TopicMAPs" /> <!-- fill in here your choosen topic name -->
    <param name="CAM_Topic_Name" value="ika_acdc_22/CAM" />
  </node>

</launch>
